:root {
  --transition-duration: 400ms ease;
  --dark-background: #030718;
  --light-background: #F9F9F9;
  --primary-dark: #3D3D3D;
  --primary-purple: #6A54FF;
  --primary-cyan: #57E1FF;
  --primary-green:#35FF9E;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--light-background);
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:#FFFFFF;

   &:hover {
    color: var(--primary-cyan);
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


footer {
  width: 100%;
  position: relative;
  overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

input {
  border: none;
}

/* Animation keyframes for components */
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ====================================================== */
